---
import Layout from '../layouts/Layout.astro';
import NavBarRight from './NavBarRight.astro';
---

<Layout title="Recetario mexicano">
	<NavBarRight />
	<h1 class="ml-[300px]">Ola mundo</h1>
</Layout>
