

<span class="absolute text-white text-4xl top-5 left-4 cursor-pointer" onclick="Open()">
    <i class="ri-menu-line ri-sm bg-gray-900 rounded-md "></i>
</span>

<aside class="SLIDEBARRIGHT fixed top-0 bottom-0 lg:right-0 right-[-300px] p-2 w-[300px] overflow-y-auto
text-center bg-white shadow-xl z-10">
    
</aside>

